/* -----------------------------------GLOBALI----------------------------------- */

:root {
  --primary-color: #7c69a4;
  --secondary-color: #ff9613;
  --background-body: #f6f5f3;
  --font-primary: "Montserrat", "Helvetica Neue", sans-serif;
  --font-secondary: "Nerko One", cursive;
  --heigh-header: 100px;
}

/* ----------------------------------- DEBUG -----------------------------------*/

.db-color1 {
  background-color: green;
}

.db-color2 {
  background-color: yellow;
}

.db-color3 {
  background-color: blue;
}

/* ----------------------------------- LAYOUT -----------------------------------*/

/* .wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

/* ----------------------------------- HEADER -----------------------------------*/

.placeholder-dark::placeholder {
  color: #495057;
}

.w-logo {
  width: 50px;
}

/* .h-header {
  height: var(--heigh-header);
} */

/* ----------------------------------- MAIN -----------------------------------*/

/* .main-content {
  height: calc(100vh - var(--heigh-header));
} */

.cell-titolo {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ----------------------------------- MODAL -----------------------------------*/

.w-modal-book {
  max-width: 600px;
}
